version: 2

# ---------------------------------------------------------------------------
# ANCHORS (bits of YAML that can be reused)
# ---------------------------------------------------------------------------

dependency_cache_key: &dependency_cache_key v5-repo-deps-{{ .Environment.CIRCLE_PROJECT_REPONAME }}-{{ checksum "pom.xml"}}

restore_dependency_cache: &restore_dependency_cache
  restore_cache:
    name: Restoring dependency cache
    keys:
    - *dependency_cache_key

docker_image: &docker_image
  docker:
    - image: circleci/openjdk:8-jdk-node-browsers

persist_workspace: &persist_workspace
  persist_to_workspace:
    root: .
    paths:
      - ./*

load_workspace: &load_workspace
  attach_workspace:
    at: .


run_export_uat: &run_export_uat
  run:
    name: Run export for NON-PROD
    command: |
      sudo /opt/google-cloud-sdk/bin/gcloud --quiet components update --version="197.0.0"
      echo $NONPROD_GCLOUD_ACCOUNT_AUTH | base64 --decode -i > ~/account-auth.json
      sudo /opt/google-cloud-sdk/bin/gcloud auth activate-service-account --key-file ~/account-auth.json
      export GOOGLE_APPLICATION_CREDENTIALS="~/account-auth.json"
      mvn clean package
      echo "Running the export..."
      java -cp $(pwd)/target/bigquery-to-datastore-bundled-0.5.1.jar   com.github.yuiskw.beam.BigQuery2Redis --project=$NONPROD_PROJECT_ID --inputBigQueryDataset=customer_api --inputBigQueryTable=account_id_mappings --outputRedisHost=boost-customer-layer-redis.ovo-uat.aivencloud.com --outputRedisPort=15662 --outputRedisAuth=$REDIS_PASSWORD_UAT --useSslForRedis=true --keyColumn=Account_No --singleOutputValue=true --tempLocation=gs://boost-nonprod-eu/test-log/ --gcpTempLocation=gs://boost-nonprod-eu/test-log/

# ---------------------------------------------------------------------------
# JOB DEFINITIONS
# ---------------------------------------------------------------------------

jobs:

  setup:
    <<: *docker_image
    steps:
      - *load_workspace
      - checkout
      - *restore_dependency_cache
      - *persist_workspace

  run-export-uat:
    machine: true
    environment:
      NONPROD_PROJECT_ID: boost-nonprod-198211
      NONPROD_CLOUDSDK_COMPUTE_ZONE: europe-west1
    steps:
      - *load_workspace
      - *run_export_uat


# ---------------------------------------------------------------------------
# WORKFLOWS
# ---------------------------------------------------------------------------

workflows:
  version: 2
  build-and-test:
    jobs:
      - setup
      - run-export-uat:
          requires:
            - setup